
@{
    ViewData["Title"] = "_Footer";
}

<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item d-flex flex-column">
                    <h4 class="text-light mb-3">Về Pharmacity</h4>
                    <a class="btn-link" href="">Giới Thiệu</a>
                    <a class="btn-link" href="">Quy chế hoạt động</a>
                    <a class="btn-link" href="">Chính sách giao hàng</a>
                    <a class="btn-link" href="">Chính sách bảo mật</a>
                    <a class="btn-link" href="">Chính sách Thanh Toán</a>                    
                    <a class="btn-link" href="">Hệ Thống cửa hàng</a>
                    <a class="btn-link" href="">Câu hỏi thường gặp</a>
                    <a class="btn-link" href="">Bảo vệ dữ liệu cá nhân</a>
                    <a class="btn-link" href="">Site map</a>
                    <a class="btn-link" href="">Bệnh viện</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Những dịch vụ hiện có</h4>
                    <a class="btn-link" href="">Hỗ trợ đặt hàng</a>
                    <a class="btn-link" href="">Thông tin nhà thuốc</a>
                    <a class="btn-link" href="">Thiếu nại, Góp ý</a>
                    <a class="btn-link" href="">Hỗ trợ khách hàng</a>
                    <a class="btn-link" href="">Tư vấn Thuốc</a>
                    <a class="btn-link" href="">Chăm sóc định kỳ</a>
                    <a class="btn-link" href="">Lịch hẹn khám</a>
                    <a class="btn-link" href="">Khám chuyên sâu</a>
                    <a class="btn-link" href="">Tình trạng khẩn cấp</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Theo Dõi Chúng Tôi Trên</h4>
                    <div class="d-flex flex-row text-start footer-item gap-5">
                        <div>
                            <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                            <p class="mt-2">Twitter</p>
                        </div>
                        <div>
                            <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                            <p class="mt-2">facebook</p>
                        </div>
                        <div>
                            <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                            <p class="mt-2">youtube</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row text-start footer-item gap-3">
                    <img src="~/Hinh/Dow/dmca.png" alt="Alternate Text" style="height: 40px;" />
                    <img src="~/Hinh/Dow/bocongthuong.png" alt="Alternate Text" style="height: 40px;" />
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Tải xuống ứng dụng</h4>
                    <div>
                        <a href="#"><img src="~/Hinh/Dow/20240706154633-0-app-store.png" style="height: 40px;" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="~/Hinh/Dow/20240706154633-0-google-play.png" style="height: 40px; margin-top: 10px;" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<!-- Copyright Start -->
<div class="container-fluid copyright bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <span class="text-light">
                    <a href="#">
                        <i class="fas fa-copyright text-light me-2"></i>Công Ty Cổ Phần Dược Phẩm Pharmacity
                        Trụ sở: 248A Nơ Trang Long, P.12, Q.Bình Thạnh, TP.Hồ Chí Minh
                        Điện thoại: 1800 6821 - Email: cskh@pharmacity.vn
                    </a>
                </span>
            </div>
            <div class="col-md-6 my-auto text-center text-md-end text-white">
                GCNDKDN: 0311770883 do sở KH & ĐT TP.HCM cấp lần đầu ngày 05/05/2012.
                GCNDDKKDD: 6782/DDKKDDD-ĐNai ngày cấp 26/4/2022 Sở Y Tế Tỉnh Đồng Nai.
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->
